.footer{
    width: 100%;
    height: 200px;
    background: #ddd;
    .footer-inner{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 30px;
        div{
            margin-bottom: 20px;
            p{
                a{
                    text-decoration: none;
                    color: #606060;
                    position: relative;
                    padding: 0 20px;
                    &::after{
                        content: "";
                        position: absolute;
                        top: 6px;
                        right: 0;
                        width: 1px;
                        height: 13px;
                        background: #9e9e9e;
                    }
                    &:last-child::after{
                        width: 0;
                    }
                    &:first-child{
                        padding-left: 0;
                    }
                }
            }
        }
        address{
            font-style: normal;
        }
    }
}